/* Global code */
html {
    font-family: Helvetica, Arial, sans-serif;
    color: #4b4b4b;
}
header {
    padding-right: 8px;
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration:none;
   }


/* Top Banner with Logo and Nav */
nav a {
    padding-right: 16px;
    color:#4b4b4b;
    font-size: 24px;
}
#logo {
    height: 32px;
    Display: flex;
    padding-left: 24px;
}

#dark {
    margin: 0;
    color: #4b4b4b;
}

#light {
    margin: 0;
    color: #9a9a9a;
}

/* Section 1 */

#section1 {
    background:#d7d7d7;
    display: flex;
    padding: 32px 24px;
    border-right: 0;
    font-weight: 600;
}

.large_photo {
    width: 60%;
}

#section1 div {
    padding-left: 24px;
    display: flex;
    align-items: center;
}

#section1 div div {
    display:block;
    padding-left: 24px;
}

#section1 h1 {
    font-size: 36px;
    font-weight: bolder;
}

#button {
    width: 200px;
    text-align: center; 
    font-weight: 300;
    color: white;
    background-color: #4b4b4b;
    padding: 8px;

}

/* Section 2 */

#section2 {
    padding: 32px 24px;
    display:flex;
}

#leftside {
width: 60%;
flex-shrink: 0;
}

#footnote  {
    font-weight: 200;
    margin-bottom: 0%;
}
.large_photo2 {
    width: 100%;
}
.small_photo {
   height:auto;
   width:35%;
   padding: 16px;
}

.sidebar {
    width: 40%;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar div {
    display: flex;

}

.sidebar div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#top_image {
    padding-top:0%;
}

.sidebar div div h3 {
    padding-bottom: 8px;
    margin: 0%;
}

.sidebar div div p {
    padding-bottom: 8px;
    margin: 0%;
}

#oliver {
    background-color:#d7d7d7;
}

.blue a {
    color: #627Be1;
}

/* Section 3 */
.banner {
    background-color: #d7d7d7;
    text-align: center;
    padding: 32px 0px;
}

.banner h2 {
    margin: 0;
}