/* Global code */
html {
    font-family: Helvetica, Arial, sans-serif;
    color: #4b4b4b;
}
header {
    padding-right: 8px;
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration:none;
   }


/* Top Banner with Logo and Nav */
nav a {
    padding-right: 16px;
    color:#4b4b4b;
    font-size: 24px;
}
#logo {
    height: 32px;
    Display: flex;
    padding-left: 24px;
}

#dark {
    margin: 0;
    color: #4b4b4b;
}

#light {
    margin: 0;
    color: #9a9a9a;
}

/* Section 1 */

#section1 {
    background:#d7d7d7;
    display: flex;
    padding: 32px 24px;
    border-right: 0;
    font-weight: 600;
}

.large_photo {
    width: 60%;
}

#section1 div {
    padding-left: 24px;
    display: flex;
    align-items: center;
}

#section1 div div {
    display:block;
    padding-left: 24px;
}

#section1 h1 {
    font-size: 36px;
    font-weight: bolder;
}

#button {
    width: 200px;
    text-align: center; 
    font-weight: 300;
    color: white;
    background-color: #4b4b4b;
    padding: 8px;

}