/* Global code */
html {
    font-family: Helvetica, Arial, sans-serif;
    color: #4b4b4b;
    margin: 0;
}
header {
    padding-right: 8px;
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration:none;
   }
#mobile_header {
    display: none;
}



/* Top Banner (header) with Logo and Nav */
nav a {
    padding-right: 16px;
    color:#4b4b4b;
    font-size: 24px;
}
.logo {
    height: 32px;
    Display: flex;
    padding-left: 24px;
}

#dark {
    margin: 0;
    color: #4b4b4b;
}

#light {
    margin: 0;
    color: #9a9a9a;
}

/* Mobile Banner Nav */
@media only screen and (max-width: 800px) {
    header {
      display: none;
    }
    #mobile_header  {
        height: 64px;
        display:flex;
        justify-content: space-around;
    }
}


/* Section 1 */

#section1 {
    background:#d7d7d7;
    display: flex;
    padding: 32px 24px;
    border-right: 0;
    font-weight: 600;
}

.large_photo {
    width: 60%;
}

#section1 div {
    padding-left: 24px;
    display: flex;
    align-items: center;
}

#section1 div div {
    display:block;
    padding-left: 24px;
}

#section1 h1 {
    font-size: 36px;
    font-weight: 900;
}

#button {
    width: 200px;
    text-align: center; 
    font-weight: 300;
    color: white;
    background-color: #4b4b4b;
    padding: 8px;

}

/* Section1 Mobile */
@media only screen and (max-width: 800px) {
    #section1 {
        display: block;
        padding: 0;
    }
    #section1 div {
        padding-left: 16px;
    }

    .large_photo {
        width: 100%;
    }
    #section1 h1 {
        margin: 32px 0
    }
    #button {
        width: 90%;
        margin: 24px 0 32px 0;
    }
}

/* Section 2 */

#section2 {
    padding: 32px 0 32px 24px;
    display:flex;
}

#leftside {
width: 60%;
flex-shrink: 0;
}

#footnote  {
    font-weight: 200;
    margin-bottom: 0%;
}
.large_photo2 {
    width: 100%;
}
.small_photo {
   height:auto;
   width:35%;
   padding: 16px;
}

.sidebar {
    width: 40%;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar div {
    display: flex;

}

.sidebar div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#top_image {
    padding-top:0%;
}

.sidebar div div h3 {
    padding-bottom: 8px;
    margin: 0%;
}

.sidebar div div p {
    padding-bottom: 8px;
    margin: 0%;
}

#oliver {
    background-color:#d7d7d7;
}

.blue a {
    color: #627Be1;
}

/* Secion2 Mobile */ 
@media only screen and (max-width: 800px) {
    #section2 {
        display: block;
        padding: 0;
    }
    #leftside {
        display: none;
    }
    #top_image {
        padding-top:16px;
    }
    .small_photo {
        width: 100%;
        padding: 4rem 0 0 0;
    }
    .sidebar {
        display:block;
        width: 90%;
        padding: 0 0 0 16px;
        margin: 0;
    }

    .sidebar div {
        display: block;
    }

    .sidebar div div {
        display: block;
        padding-left: 16px;
    }

    #oliver {
        background-color: white;
        padding-bottom: 32px;
    }
}

/* Banner */
.banner h2 {
    background-color: #d7d7d7;
    text-align: center;
    padding: 32px 0px 0px;
    margin: 0;
}
/* Banner Mobile */

@media only screen and (max-width: 800px) {
    .banner h2 {
    background-color: white;
    padding-bottom: 16px;
    }
}

/* Section 3 */
#section3 {
    padding: 16px 57px;
    background-color: #d7d7d7;
    display: flex;
    flex-direction: column;

}

.card_container {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    
}

.card {
    background-color: white; 
    padding: 0 0 16px 0;
    display: block;
    max-width: 29%;
    margin:16px;
}

.card p {
    margin: 8px 0;
}

.card h3 {
    margin: 16px 0 0 0;
}
.card h3, .card p {
    padding: 0 16px;
}


.image_container img {
    display: block;
    width: 100%;
    height:auto;
}

/* Section3 Mobile */

@media only screen and (max-width: 800px) {
    #section3 {
        display: block;
        background-color: white;
        padding: 0;
    }

    .card_container {
        display: block;
    }

    .card {
        display: block;
        max-width: 100%;
        background-color: #d7d7d7;
        padding: 0;
        margin: 4px;
    }

    .card h3 {
        margin: 0;
        padding: 16px 16px 24px 16px;
    }
    .image_container {
        display: none;
    }

    .card p {
        display: none;
    }

}

/* Banner 2 */

.banner2 h2{
    text-align: center;
    padding: 32px 0px;
    margin:0;
}

/* section4 */

#section4 {
    padding: 0 0 0 24px;
    display:flex;
}

#leftside2 {
    width: 60%;
    flex-shrink: 0;
    }

#leftside2 h1 {
    margin: 24px 0 0 0;
}

#leftside2 p {
    margin: 8px 0 32px 0;
}
    
.sidebar2 {
    width: 40%;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.sidebar2 div {
    display:flex;
}

.sidebar2 div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar2 div div h3 {
    padding-bottom: 8px;
    margin: 0%;
}

.sidebar2 div div p {
    padding-bottom: 8px;
    margin: 0%;
}

#fisma {
    background-color: #d7d7d7;
}

/* section4 mobile */
@media only screen and (max-width: 800px) {
    #section4 {
        padding: 0;
        display: block;
    }

    #leftside2 {
        width: 100%;
    }
    #leftside2 div h1, #leftside2 div p{
        display: none;
    }
    .sidebar2 {
        display: none;
    }

    footer a {
        display: none;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
}

footer div  {
    display: flex;
    align-items: center;
}


footer a {
    padding-left:12px;
    color:#4b4b4b;
}